body
{
    
    background-image: url(../img/trendingImages/1289331.jpg);
    perspective: 600px;
    
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
div.heading
{
    font-size: 20px;
    width: 30%;
    font-style:oblique;
    text-align:center;
    text-shadow: 1px 1px 3px yellowgreen;
    box-shadow: -5px 5px 5px yellow;
    color:yellow;
    border: 0px;
    border-style: groove;
    padding: 5px;
    border-color: black;
    margin: 30px;
    transition: all 0.5s;
    
}

h1
{
    color: #FFE751;
    font-family: arial;
    padding: 0px;
}
div.movie-background
{
    
    color:white;
    margin-top: 150px;
    padding: 20px 40px 300px 500px;
    margin: 60px 20px 60px 20px;
    height: 3200px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url("1289331.jpg" ) ; 
    background-size: cover;
    background-repeat: repeat;
    box-sizing: border-box;
    border-radius: 0%;
}
div.movie-box
{
    height: 420px;
    width:285px;
    margin: 80px 0px 80px 60px;
    border: 2px solid wheat;
    float:none;
    cursor: pointer;
}
div.movie-info
{
    background-image: url(../img/trendingImages/ooo.jpg);
    background-color: brown;
    background-size: cover;
    height: 20px;
    padding: 10px;
    margin-top: 8px;
    width: 260px;
    border: 0;
    text-align: center;
}

div.movie-img
{
    overflow: hidden;
    height: 100%;
}
div.movie-img img
{
    width: 100%;
    transition: transform 3s;
}
div.movie-img img:hover
{
    transform: scale(1.2);
}
.vid
{
    padding: 0px;
    margin: auto;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url("../img/trendingImages/ooo.jpg" ) ; 
    color: #FFFF0A;
    text-align: center;
    font-size: 65px;
    padding: 10px 20px 50px ;
}
.vid video
{
    width: auto;
    height: auto;
    margin-top: 55px;
}